# tinyrox says don't edit this manually, but it can't stop you!

export(chatterbox)
export(compute_mel_spectrogram)
export(compute_mel_spectrogram_ve)
export(compute_speaker_embedding)
export(compute_xvector_embedding)
export(create_s3gen_vocoder)
export(create_voice_embedding)
export(decode_tokens)
export(download_chatterbox_models)
export(hf_download)
export(load_bpe_tokenizer)
export(load_campplus_weights)
export(load_chatterbox)
export(load_hifigan_weights)
export(load_s3gen)
export(load_s3gen_weights)
export(load_s3tokenizer_weights)
export(models_available)
export(quick_tts)
export(read_audio)
export(read_safetensors)
export(read_torch_pt)
export(resample_audio)
export(s3_tokenizer)
export(t3_inference)
export(text_to_tokens)
export(tts)
export(tts_chunked)
export(tts_to_file)
export(write_audio)

S3method(print,chatterbox)
S3method(print,voice_embedding)
